$nav_text: #333;
$nav_test_color: #999999;
$nav_teal: #008081;
$nav_white: white;

@mixin box-shadow($top, $left, $blur, $size, $color) {
  -webkit-box-shadow: $top $left $blur $size $color;
  -moz-box-shadow: $top $left $blur $size $color;
  box-shadow: $top $left $blur $size $color;
}

.toolbar {
  width: 100%;
  position: fixed;
  color: $nav_text;
  height: 56px;
  top: 0;
  left: 0;
  @include box-shadow(2px, 2px, 5px, 0, rgba(0, 0, 0, 0.6));
  background: $nav_white;
}

.toolbar-navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.logo {
  margin-left: 1rem;
}

.logo a {
  font-size: 2rem;
  text-decoration: none;
  color: $nav_text;
}

.spacer {
  flex: 1;
}

.nav-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  padding: 0 0.5rem;
}

.nav-items a {
  color: $nav_text;
  text-decoration: none;
}

.nav-items a:hover,
.nav-items a:active {
  color: $nav_teal;
}

// toggle button
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 2px;
  background: $nav_text;
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar-toggle-btn {
    display: none;
  }

  .logo {
    margin-left: 0;
  }
}
