.shop-main {
  width: 100%;
  padding: 1.5rem 2rem;
}

.list {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% * (1 / 3.5));
  padding: 1.5rem;
}

.list-image img {
  max-width: 100%;
  height: auto;
}

.list-content {
  text-align: center;
}

// .btn-add-to-cart {
//   border: 1px solid black;
//   padding: 10px 5px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 1em;
//   max-width: 50%;
// }

// @media (min-width: 469px) and (max-width: 768px) {
//   .btn-add-to-cart {
//     max-width: 80%;
//   }
// }

@media screen and (max-width: 468px) {
  #list-item {
    width: 100%;
    padding: 1.5rem 2.5rem;
  }
}

@media screen and (min-width: 469px) and (max-width: 768px) {
  #list-item {
    width: calc(100% * (1 / 3));
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  #list-item {
    width: calc(100% * (1 / 4));
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  #list-item {
    width: calc(100% * (1 / 5));
  }
}
