@import 'normalize';

$favicon_color: #00ac9f;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Arapey', serif;
  margin: 0;
}

#container {
  padding: 0.5em;
  margin: 0 auto 10% auto;
}
